.body {
    background-color: crimson;
    /* background-image:
    radial-gradient(
        circle at 50% 400px,
      crimson,
      rgb(105, 20, 37)
    ); */
}

.App {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tracker {
    text-align: left;
    box-shadow: 0 10px 20px 10px rgba(35, 35, 35, 0.25) !important;
}

.forgetButton {
    margin-top: 10px !important;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson !important;
}

.form {
    width: 475px;
    margin: 0 auto !important;
    text-align: left;
}

.ingredientButton {
    width: 445px;
}

.logo {
    margin-bottom: 30px;
}

.ui.segment {
    box-shadow: 0 10px 20px 10px rgba(35, 35, 35, 0.25) !important
}